{% load static %}
{% include "includes/navbar.html" %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    

</head>
<body>
    <h1> Sobre </h1>
    <p>
        Bem-vindo à nosso fórum de tecnologia!

Este fórum foi criado com o objetivo de promover a discussão e o compartilhamento de informações sobre tecnologia. Aqui, você encontrará um espaço para discutir tópicos relacionados a dispositivos eletrônicos, softwares, aplicativos, redes sociais, inteligência artificial e muito mais.

Nosso fórum é aberto para todos que estejam interessados em discutir e aprender sobre tecnologia. Se você é um entusiasta de tecnologia, estudante, profissional da área ou simplesmente um curioso, este é o lugar para você!

Nosso objetivo é criar uma comunidade onde todos possam se sentir confortáveis para compartilhar suas opiniões, experiências e conhecimentos sobre tecnologia. Acreditamos que através da troca de ideias, podemos aprender e crescer juntos.

Além disso, nossa equipe de moderadores está sempre atenta para garantir um ambiente seguro e respeitoso para todos os usuários. Qualquer comportamento inadequado será prontamente identificado e tratado pelos nossos moderadores.

Agradecemos por fazer parte da nossa comunidade de tecnologia e esperamos que você possa contribuir com sua experiência e conhecimento para tornar este fórum ainda melhor.
    </p>
</body>
</html>
